---
import Experience from "./Experience.astro";
---

<section class="container fade-in-observable">
  <ul>
    <Experience
      id="01"
      role="Software Engineer"
      date="2024 — Present"
      description="Take control of your money. Connect all your accounts, set budgets, categorise expenses, track bills and subscriptions at ease. Start saving smarter with Emma app."
      title="Emma"
      image="/emma-logo.webp"
      alt="Emma company logo, a white gummy bear on a purple background."
      href="https://emma-app.com/"
      openInNewTab
    />
    <Experience
      id="02"
      role="Full Stack Developer"
      date="2023 — 2024"
      description="Creating the core banking system of the Web3 era building native and web applications."
      title="trustwise.io ag"
      image="/twex-logo.webp"
      alt="The word 'TWEX' capitalized in bold white letters on a purple background, surrounded by decorative lines resembling fiber optic cables."
      href="https://www.trustwise.io/"
      openInNewTab
    />
    <Experience
      id="03"
      role="Personal Project"
      date="2022"
      description="Architected a full-stack application managing complex data states and live video streaming via WebRTC. Begin your learning today with Classable."
      title="Classable"
      image="/classable-logo.webp"
      alt="Black and white line art illustration of a graduation cap, with simple lines outlining the cap's square top and hanging tassel."
      href="https://v1.hubertlemczak.com/projects/classable"
    />
    <Experience
      id="04"
      role="Software Developer Trainee"
      date="2022"
      description="Building responsive web interfaces, server-side applications, and collaborating in an agile environment."
      title="Boolean"
      image="/boolean-logo.webp"
      alt="Boolean Logo"
      href="https://boolean.co.uk/"
      openInNewTab
    />
  </ul>
</section>
